.interieursim {
    width: 65%;
    margin: 1em auto;

    p {
        margin: 1em 0;
    }
    h2 {
        font-size: 1.2em;
        font-weight: bold;
    }
    img {
        max-width: 70%;
        margin: 2em auto 0 auto;
    }
    .image-description {
        max-width: 70%;
        margin: 0.5em auto 2em auto;
        font-size: 0.8em;
        font-style: italic;
    }
    .code-description {
        max-width: 100%;
        margin: 0.5em auto 0 auto;
        font-size: 0.8em;
        font-weight: bold;
    }
}