@use '../shared' as *;

.routado {
    width: 65%;
    margin: 1em auto;
    h1 {
        margin-bottom: 0.5em;
    }

    .description, a {
        margin-bottom: 1em;
    }
    ul {
        margin-left: 2em;
        margin-bottom: 1em;
        li {
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
    }
    .flex-container {
        display: flex;
        width: 100%;
        gap: 1em;
    }
    video {
        width: 30%;
    }
}

@media only screen and (max-width: 1400px) {
    .routado {
        video {
            width: 40% !important;
        }
    }
}

@media only screen and (max-width: 800px) {
    .routado {
        .flex-container {
            gap: 0.5em;
        }
    }
}

@media only screen and (max-width: 600px) {
    .routado {
        .flex-container {
            display: block !important;
        }
        video {
            width: 100% !important;
        }
    }
}