@use './shared' as *;

body {
    background-color: var(--my-background-color);
    color: var(--text-color)
}
h1 {
    font-family: "Euphemia UCAS", Arial;
}
.title-part {
    display: flex;
    margin: 0 10% 1em 10%;
    padding-top: 1em;
    h1 {
        flex-grow: 3;
    }
}
.darkmode {
    margin-right: 1em;
    align-self: center;
    .moon-icon, .sun-icon {
        margin: 0.25em;
    }
    .moon-icon {
        color: rgb(var(--moon-icon-color));
    }
    .sun-icon {
        color: rgb(var(--sun-icon-color));
    }
}

.languages {
    align-self: center;
    button {
        > * {
        width: 24px;
        height: 16px;
        }
        &:first-child {
            border-right: 1px solid black;
        }
        svg {
            margin: 0.25em 0.5em;
        }
    }

}
h2, h3 {
    font-family: "Euphemia UCAS", Arial;
    font-weight: unset;
}
h2 {
    font-size: 32px;
    font-weight: unset;
}
h3 {
    font-size: 20px;
}
.menu {
    div {
        font-family: "Euphemia UCAS", Arial;
        margin: 1em 3%;
        padding-bottom: 0.4em;
        border-bottom: 1px solid rgb(var(--accent-text-default-background));
        &:hover {
            border-bottom: 1px solid rgba(var(--accent-text-default-background), 0.8);
        }
    }
    display: flex;
    justify-content: flex-start;
    background-color: rgba(var(--secundary-color), 0.2);
    padding: 0 7%;
}
.menu-bottom {
    width: 100%;
    height: 5px;
    background-color: rgba(var(--secundary-color), 0.2);
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: rgba(var(--accent-text-default-background), 0.8);
    }
}
.me-card {
    width: 80%;
    margin: 0 auto 2em auto;
    background-image: linear-gradient(to right, rgba($color: var(--secundary-color), $alpha: 0.5), transparent);
    display: flex;
    justify-content: center;
    padding: 2em 3em;
    p {
        font-size: 40px;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 5%;
        margin-right: 5em;
        text-align: right;
        .iris-name {
            font-family: "Euphemia UCAS", Arial;
            font-size: 24px;
        }
    }
    img {
        max-width: 200px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        border-radius: 100px;
        width: 60%;
        margin: 0 2em;
        box-shadow: -10px -10px 5px rgba($color: var(--secundary-color), $alpha: 0.5);
    }
}
.qualities {
    display: flex;
    justify-content: space-around;
    color: rgba($color: var(--accent-text-default-background), $alpha: 1);
    width: 80%;
    margin: 2rem auto 2rem auto;
    font-size: 28px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.fade-in {
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.about-me{
    background-color: rgba($color: var(--primary-color), $alpha: 0.2);
    padding: 2em 15%;
    margin-bottom: 5em;

    div, p {
        margin: 1em;
    }
    p:first-of-type {
        color: rgba($color: var(--primary-color-darker), $alpha: 1);
    }
}
.dotted-line {
    border-top: 5px dotted var(--text-color);
    width: 20%;
    margin: 1em auto;
}
.h2-title {
    text-align: center;
    margin: 3em 0;
}
.office-instructions {
    display: flex;
    width: 78%;
    margin: 1em auto;
    justify-content: space-between;
    align-items: center;
    p {
        color: rgba($color: var(--accent-text-default-background), $alpha: 1);
        margin-right: 0.75em;
    }
}
.project-list {
    background-color: rgba($color: var(--secundary-color), $alpha: 0.2);;
    padding: 2em;
    margin-bottom: 3em;
    .project-list-item {
        margin: 2em 0;
    }
}
.green-button {
    background-color: rgba($color: var(--primary-color), $alpha: 1);
    padding: 1em;
    border-radius: 5px;
    font-size: 14px;
    &:hover {
        background-color: rgba($color: var(--button-hover), $alpha: 0.8);
    }
    p {
        margin: 0;
        color: black;
    }
    svg {
        width: 24px;
        height: 24px;
    }
}

.skills {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 65%;
    margin: 0 auto 4em auto;
    div {
        padding:  2em 0;
        font-size: 18px;
        &:nth-of-type(2n+1) {
            padding-right: 2em;
        }
        &:nth-of-type(2n) {
            border-left: 1px solid black;
            padding-left: 2em;
        }
    }
}
.contact {
    background-color: rgba($color: var(--secundary-color), $alpha: 0.15);
    margin-top: 4em;
}

.footer {
    background-color: rgba($color: var(--primary-color), $alpha: 0.3);
    text-align: right;
    padding: 1em 5% 2em 0;
    color: rgba(var(--footer-text), 1);
}

@media only screen and (max-width: 850px) {
    .about-me {
        padding: 1em 10%;
    }
    .qualities {
        font-size: 20px;
    }
    .office-instructions {
        width: 92%;
    }
    .skills {
        width: 80%;
    }
    .project-list {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 720px) {
    .title-part {
        flex-direction: column-reverse;
    }
    .menu {
        margin-left: 0;
    }
    .me-card {
        display: block;
        padding-left: 0.5em;
        padding-right: 0.5em;
        div {
            display: block;
            margin-right: 0em;
        }
        img {
            max-width: 150px;
            margin: 2em auto;
        }
        p {
            text-align: center;
            font-size: 30px;
        }
        .iris-name {
            text-align: center;
            font-family: "Euphemia UCAS", Arial;
            font-size: 20px;
        }
    }
    .qualities {
        width: 95%;
        font-size: 14px;
    }
    .skills {
        width: 85%;
        display: block;
        div {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
    @media only screen and (max-width: 450px) {
        .qualities {
            font-size: 12px;
        }
    }
}
