@use "../shared.scss";
$zoomedIn : 5;

body{
    width: 80%;
    margin: 0 auto;
}

.room-container {
        overflow-x: scroll;
        overflow-y: hidden;
        border: 3px solid black;
        height: 700px;
        max-height: 700px;
        max-width: 1200px;
        position: relative;
        width: 100%;
    .room {
        transform-style: preserve-3d;
        height: 700px;
        perspective: 1000px;
        position: relative;
        width: 100%;
        .side {
            
            height: 550px;
            display: block;
            position: absolute;
            z-index: -100;
        }
        .back {
            background-color: hsl(175deg 100% 70%);
            top: 0px;
            left: 50px;
            width: 1100px;
        }
        .left {
            width: 120px;
            background-color: hsl(60, 42%, 81%);
            top: 0px;
            left: -140px;
            transform: rotateY(70deg) translateZ(120px);
        }
        .right {
            width: 120px;
            background-color: hsl(38, 53%, 74%);
            top: 0px;
            left: 1220px;
            transform: rotateY(-70deg) translateZ(120px);
        }
    }
}
.zoomIn1 {
    transform: translate3d(calc($zoomedIn * (50% - 259px)), calc($zoomedIn * -80px), 0) scale($zoomedIn);
    transition: transform 3s;
}
.zoomIn2 {
    transform: translate3d(calc($zoomedIn * (50% - 560px)), calc($zoomedIn * 90px), 0) scale($zoomedIn);
    transition: transform 3s;
}
.initial {
    transform: scale(1);
}

.magnifying-glass {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    &:hover {
        transform: scale(1.1);
    }
    
    .magnifying-glass-glasspart {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: 5px gray solid;

    }
    .magnifying-glass-handle {
        width: 20px;
        height: 30px;
        border-top: 5px gray solid;
        rotate: 45deg;
        position: relative;
        top: -5px;
        left: 15px;

    }
}
.magnifying-glass-1 {
    top: 110px;
    left: 230px;
}
.magnifying-glass-2 {
    top: -150px;
    left: 530px;
}
.plant {
    position: relative;
    top: 270px;
    left: 230px;
    display: inline-block;
    .plant-pot {
        background-color: blue;
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

img {
    display: block;
}
.table {
    position: relative;
    top: -100px;
    left: 400px;
}
.project-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
button {
    background-color: transparent;
    border: none;
}