$sea-green: #A2D5C6;
$sea-green-darker: #5e7a72;
$button-hover-green: #93c1b3;
$mint-green: #CFFFE2;
$zoomedIn : 5;


.room-container {
    overflow-x: scroll;
    overflow-y: hidden;
    border: 3px solid black;
    height: 700px;
    max-height: 700px;
    position: relative;
    width: 80%;
    margin: 0 auto 3em auto;
    .room {
        transform-style: preserve-3d;
        height: 700px;
        perspective: 1000px;
        position: relative;
        width: 100%;
        .side {
            height: 550px;
            display: block;
            position: absolute;
            z-index: -100;
        }
        .back {
            background-color: rgba($color: $sea-green, $alpha: 0.2);
            top: 0px;
            left: 50px;
            width: 1100px;
        }
        .left {
            width: 120px;
            background-color: rgba($color: $sea-green-darker, $alpha: 0.2);
            top: 0px;
            left: -170px;
            transform: rotateY(70deg) translateZ(150px);
        }
        .right {
            width: 120px;
            background-color: rgba($color: $sea-green-darker, $alpha: 0.2);
            top: 0px;
            left: 1255px;
            transform: rotateY(-70deg) translateZ(150px);
        }
    }
    @media only screen and (max-width: 850px) {
        width: 95%;
    }
}

.zoomIn {
    transform: translate3d(calc($zoomedIn * (50% - var(--left-offset) - 20px) + var(--scroll)), calc($zoomedIn * (0px - (var(--top-offset) - 50% + 30px))), 0) scale($zoomedIn);
    transition: transform 3s;
    background-color: var(--main-color);
}

.initial {
    transform: scale(1);
}

.magnifying-glass {
    position: absolute;
    display: block;
    background-color: transparent;
    border: none;
    &:hover {
        transform: scale(1.1);
    }
    
    .magnifying-glass-glasspart {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: 5px gray solid;

    }
    .magnifying-glass-handle {
        width: 20px;
        height: 30px;
        border-top: 5px gray solid;
        rotate: 45deg;
        position: relative;
        top: -5px;
        left: 15px;

    }
}

.plant {
    position: absolute;
    top: 270px;
    left: 230px;
    display: inline-block;
    .plant-pot {
        background-color: black;
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 3px -3px 5px rgba($color: black, $alpha: 0.3), -0px 3px 5px rgba($color: black, $alpha: 0.5);
    }
    .plant-top {
        filter: drop-shadow(15px -30px 30px rgba($color: black, $alpha: 0.3));
        -webkit-filter: drop-shadow(15px -15px 30px rgba($color: black, $alpha: 0.3));
    }
}

img {
    display: block;
}
.table {
    position: absolute;
    top: 370px;
    left: 440px;
    filter: drop-shadow(3px -3px 5px rgba($color: black, $alpha: 0.3));
    -webkit-filter: drop-shadow(3px -3px 5px rgba($color: black, $alpha: 0.3));

}
.shelf {
    position: absolute;
    top: 120px;
    left: 850px;
    z-index: -2;
    filter: drop-shadow(3px -3px 5px rgba($color: black, $alpha: 0.3));
    -webkit-filter: drop-shadow(3px -3px 5px rgba($color: black, $alpha: 0.3));
}
.notice-board {
    position: absolute;
    top: 90px;
    left: 390px;
    z-index: -3;
    filter: drop-shadow(3px -3px 5px rgba($color: black, $alpha: 0.3));
    -webkit-filter: drop-shadow(3px -3px 5px rgba($color: black, $alpha: 0.3));
}
.project-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
button {
    background-color: transparent;
    border: none;
}