@use '../shared' as *;
@keyframes buttonHoverScale {
  0% {scale: 1;}
  50% {scale: 1.05;}
  100% {scale: 1;}
}
.this-project-card {
    line-height: 1.5em;
    background-color: var(--my-background-color);
    border-radius: 10px;
    padding-bottom: 1em;
    h1 {
        padding: 1.2em 0;
        line-height: 110%;
        font-size: 1.5em;
    }
    

    .project-content {
        .project-description {
            margin-bottom: 1em;
        }
        white-space: pre-wrap;
        img {
            display: block;
            max-width: 90%;
            max-height: 400px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 5px 5px 10px var(--close-button-color);
            margin-bottom: 2em;
        }
        span:first-child {
            font-weight: 600;
        }

        a {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            &:hover{
                color: black;
            }
        }
    }
}
.this-office-project-card {
    height: 520px;
    overflow-y: scroll;
    h1, p, a {
        margin-left: calc(20% - 2rem);
        margin-right: calc(20% - 2rem);
    }
    .button-close-icon {
        margin-left: auto; 
        margin-right: 1em;
        margin-top: 1em;
        float: right;
        .close-icon {
            color: var(--text-color);
            &:hover {
                background-color: var(--close-button-color);
                border-radius: 40px;
            }
        }
    }
}
.this-list-project-card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
    padding-top: 1em;
    h1, div {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .project-content {
        img {
            margin-bottom: 3em;
            max-width: 80%;
        }
    }
}
@media only screen and (max-width: 1240px) {
    .this-list-project-card {
        width: 80%;
        h1, p {
            width: 80%;
        }
    }
}
